{% extends 'Trainingzone/base.html' %}
{% load static %}

{% block titulo %}
    Cursos
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Cursos</h2></td>
        <td>
            <a
            <a href="{% url 'create_cursos' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-lg" title="New Record"></i></a>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
    <tr>
        <td>{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.valor }}</td>

        <td>
            <a
              href="{% url 'update_curso' curso.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_curso' curso.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>

</style>
    
<h4 class="text-white">Cursos</h4>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="background-image: url('{% static 'Trainingzone/assets/img/FOTO1.jpg' %}'); background-size: cover;">
            <div class="card-body">
                <h5 class="card-title text-white">Curso de Iniciación al Fitness (Nivel Básico)</h5>
                <ul class="list-unstyled text-white">
                    <li>&bull; Rutina y planificación individualizada</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull; Dieta individualizada</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull; Recetario</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull; Material exclusivo</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull; Resolución de dudas en 24 horas</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull; Constante comunicación vía correo electrónico</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull; Revisiones semanales y ajustes sin límite</li>
                </ul>
                <a href="{% url 'Comprar' %}" class="btn btn-primary">Comprar</a> 
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-image: url('{% static 'Trainingzone/assets/img/FOTO2.jpg' %}'); background-size: cover;">
            <div class="card-body">
                <h5 class="card-title text-white">Curso de Entrenamiento Avanzado</h5>
                <ul class="list-unstyled text-white">
                    <li>&bull;  Rutina avanzada y planificación individualizada</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull;  Dieta avanzada personalizada</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull;  Recetario para entrenamiento avanzado</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull;  Material exclusivo para entrenamiento avanzado</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull;  Resolución de dudas en 24 horas</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull;  Comunicación vía correo electrónico</li>
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                    <li>&bull;  Revisiones semanales para avanzados y ajustes limitados</li>
                </ul>
                </p>
                <a href="{% url 'Comprar' %}" class="btn btn-primary">Comprar</a>                   
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-image: url('{% static 'Trainingzone/assets/img/FOTO3.jpg' %}'); background-size: cover;">
            <div class="card-body">
                <h5 class="card-title text-white"><h5 class="card-title text-white">Programa de Asesoramiento en Nutrición y Fitness</h5>
                <ul class="list-unstyled text-white">
                <li>&bull; Rutina y planificación individualizada
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                <li>&bull; Dieta personalizada
                    <li><br></li> <!-- Espacio en blanco para separar los elementos -->
                <li>&bull; Recetario nutricional
                <li>&bull; Material exclusivo
                <li>&bull; Sesiones de entrenamiento personalizado
                <li>&bull; Resolución de dudas en 24 horas
                <li>&bull; Comunicación vía correo electrónico
                <li>&bull; Revisiones semanales y ajustes sin límite
                <li>&bull; Evaluación de composición corporal
                </p>
                <a href="{% url 'Comprar' %}" class="btn btn-primary">Comprar</a>                
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-image: url('{% static 'Trainingzone/assets/img/FOTO5.jpg' %}'); background-size: cover;">
            <div class="card-body">
                <h5 class="card-title text-white">Programa Completo de Transformación Física (Nivel Premium Plus)</h5>
                <ul class="list-unstyled text-white">
                   <li>&bull; Rutina avanzada y planificación individualizada
                   <li>&bull; Dieta avanzada personalizada
                   <li>&bull; Recetario completo y variado
                   <li>&bull;Material exclusivo premium
                   <li>&bull; Sesiones de entrenamiento personalizado
                   <li>&bull;Resolución de dudas en 24 horas
                   <li>&bull; Comunicación vía correo electrónico prioritaria
                   <li>&bull;Revisiones semanales y ajustes ilimitados
                   <li>&bull; Evaluación de composición corporal
                   <li>&bull; Suplementos mensuales personalizados
                   <li>&bull; Indumentaria de entrenamiento de alta calidad
                </p>
                <a href="{% url 'Comprar' %}" class="btn btn-primary">Comprar</a>                  
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}